* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

footer,
nav {
    display: flex;
    height: 38px;
    max-height: max-content;
    background-color: rgba(48, 30, 30, 0.849);
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.nav-item {
    height: 24px;
    max-width: max-content;
    width: fit-content;
    min-width: 127px;
    background-color: rgb(0, 0, 0);
    padding: 5px 0px;
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    font-style: none;
    text-align: center;
    border-radius: 5px;
    margin: 0px 2px 0 2px;
}

nav a.logo {
    padding: 32px 0;
    position: relative;
    top: 31px;
    border: 2px red solid;
    width: 100px;
    height: 100px;
    background-color: rgb(39, 31, 31);
    color: #000;
    box-sizing: border-box;
    transform: rotate(-0.015turn);
    margin-right: auto;
    color: white;
    z-index: 1;
}

nav a.log-in {
    min-width: 50px;
    padding: 2px 8px;
    margin-left: auto;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
}

nav a.log-in:hover {
    background-color: rgb(236, 197, 97);
}

nav .nav-item:hover {
    background-color: #fff;
    color: #000;
    border-radius: 8px;
}

section {
    border: chartreuse 0px solid;
    overflow: hidden;
    display: block;
}

section .main-firm {
    border: 5px solid rgb(117, 88, 88);
    background-color: rgba(3, 3, 3, 0.9);
    font-size: 1.3em;
    border-radius: 80px 20px;
    height: 200px;
    width: 500px;
    position: absolute;
    top: 25vh;
    left: 15vw;
    box-sizing: content-box;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
}

section .main-firm p {
    color: #fff;
    margin: 50px 5px;
    padding: 0 10px;
}

section img {
    width: 100%;
    min-width: 722px;
    max-height: 100vh;
    margin-bottom: 0px;
    z-index: -1;
    overflow: visible;
    display: block;
}

.main-content {
    max-height: 100vh;
    background-color: rgb(63, 40, 40);
    padding: 8em 5em;
    color: white;
    font-size: 1.2em;
    text-align: center;
}

.main-content h3 {
    margin-top: 2em;
    margin-bottom: 0.8em;
    font-weight: 750;
    font-size: 1.3em;
}

.main-content p {
    margin-bottom: 3em;
}

.team {

    min-height: 100vh;
    /* overflow: hidden; */
    background-image: url("team.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.team-member {
    background-color: #fff;
    width: 300px;
    box-sizing: border-box;
    border: solid 2px black;
    padding: 5px 20px;
    border-radius: 15%;
}

.team-member img {
    min-width: 20px;
    border-radius: 50%;
}

.team-member p {
    padding: 15px 0;
    text-align: center;
}

#customer .main-content {
    height: 40vh;
    padding-top: 10px;
}

#customer .main-content div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 1.8em;
    text-align: center;
}

#customer .main-content h1 {
    display: block;
    font-size: 3em;
    background-color: rgb(0, 0, 0, 0.8);
    padding: 3px 10px;
    border-radius: 8px;
    text-align: center;
    margin: 20px 350px;
}

.customer-logo {
    width: 350px;
    height: 100px;
    border-radius: 4px;
    border: black solid 2px;
    margin: 4px;
    background-image: url("/CSS/Customer.jpg");
    background-size: 100%;
}

#contact .contact-us {
    display: flex;
    height: 60vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.contact-us .map img {
    min-width: 10px;
    width: 300px;
    border-radius: 15px;
}

.contact-us .details p {
    margin: 0 20px;
    line-height: 2;
    font-size: 1.2em;
}

.contact-us .details p.header {
    margin: 0 20px;
    line-height: 2;
    font-size: 2em;
    font-weight: 750;
}


footer p {
    flex: auto;
    color: white;
    text-align: center;

}

.hidden {
    display: none;
}